
/* src/components/Home.css */
.container {
    display: flex;
    flex-direction: column; /* Change to column for mobile */
    height: 100vh; /* Full height of the viewport */
    background-color: rgb(141, 140, 140);

    /* position: relative; */
}

.map {
    height: 80vh; /* Map height */
    width: 60%; /* Map width on desktop */
    border: 2px solid black;
    border-radius: 20px;
    margin: 30px auto; /* Center the map */
}

/* Center the SelectStateComponent */
.state-container {
    position: absolute; /* Position relative to the nearest positioned ancestor */
    top: 2%; /* Adjust to position at the top */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, 0); /* Centering */
    z-index: 10000; /* Ensure it appears above the map */
    /* background: rgba(255, 255, 255, 0.8);  */
    padding: 10px; /* Optional: Add some padding */
    border-radius: 8px; /* Optional: Round corners */
}

/* Media Queries for Mobile View */
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Ensure column layout on mobile */
    }
  
    .map {
        height: 100vh; /* Full screen height on mobile */
        width: 100%; /* Full width on mobile */
        border: none; /* Optional: remove border */
        border-radius: 0; /* Optional: remove rounding */
        margin: 0; /* Optional: remove margin */
    }

    .state-container {
        top: 20px;
    }
}




  

/* Hide the routing summary control */
.leaflet-routing-container {
    display: none !important; /* Prevents display */
    width: 0 !important;      /* Prevents width */
    height: 0 !important;     /* Prevents height */
}

/* Optionally, if you only want to hide the summary and keep other controls */
.leaflet-routing-summary {
    display: none !important;  /* Hides the summary */
}

